<form action="/add" method="POST">
    <p>Título</p>
    <input type="text" name="nText" id="idText">
    <p>Conteúdo</p>
    <textarea name="nConteudo" id="idConteudo"></textarea>
    <button type="submit">Cadastrar Postagem!</button>
</form>